<div class="row mt-80">
  <% @about_page_items.each do |about_page_item| %>
    <div class="col-md-4"> 
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <strong><%= about_page_item.name %></strong>
        </div>
    
        <div class="card-body">
          <%= image_tag("paul_smith", class: 'card-img-top') %>
          <p><em><%= about_page_item.role %></em></p>
          <p class="card-text">
            <%= about_page_item.bio %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<!-- create a manage_about_page view/controller/route -->